<%- include('../../partials/header') %>

<body>
  <div class=itemDetails-box>
    <img src="<%= item.itemImg %>">
    <h3><%= item.itemName %> <span style="text-align: right;"><%= item.itemPrice %> BHD</span></h3>
    <div><%= item.itemDescription %></div>
  </div>

  <div class=review-box>
    <div class="comment-bar">
      <% if (user) { %>
      <h3> <%= item.itemName %> Reviews</h3>
      <form method="POST" action="/items/<%= item._id%>">
        <table>
          <tr>
            <td>Review:</td>
            <td><input id="textarea-review" type="text" name="reviewContent"></textarea></td>
          </tr>
          <tr>
            <td>Rating:</td>
            <td> <select name="reviewRating" id="textarea-review">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5" selected>5</option>
              </select>
            </td>
          <tr>
            <td colspan="2"> <input type="submit" value="Add Review">
            </td>
          </tr>
          </tr>
        </table>
      </form>
      <% } %>
    </div>
    <div class="show-reviews">
      <% if (item.review.length) { %>
      <table class="review-table">
        <thead>
          <tr>
            <th>Date</th>
            <th style="width:60%">Review</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <% item.review.forEach(function(review) { %>
          <tr>
            <td><%= review.createdAt.toLocaleDateString() %></td>
            <td><%= review.reviewContent %></td>
            <td><%= review.reviewRating %></td>
            <td>
              <% if (user?._id.equals(review.user)) { %>
              <form action="/items/<%= review.id %>?_method=DELETE" method="POST">
                <input type="hidden" name="itemId" value=<%= item._id %>>
                <button type="submit">X</button>
              </form>
            </td>
            <td>
              <form action="/items/<%= review.id %>?_method=PUT" method="POST" autocomplete="off">
                <input type="hidden" name="itemId" value=<%= item._id %>>
                <input type="text" name="reviewContent" %>">
                <button type="submit">Update review</button>
              </form>
            </td>
            <% } %>

          </tr>
          <% }); %>
        </tbody>
      </table>
      <% } else { %>
      <h5>No Reviews Yet</h5>
      <% } %>
    </div>
  </div>

</body>