<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <table>
      <tbody>
        <h1><%= title %></h1>
        <section>
          <div>Item: </div>
          <div><%= item.itemName %></div>
          <div>Img </div>
          <div><%= item.itemImg %></div>
          <div>Price </div>
          <div><%= item.itemPrice %></div>
          <div>Description: </div>
          <div><%= item.itemDescription %></div>
        </section>
      </tbody>
    </table>
  </body>
</html>
