<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">


<body>

</body>

</html>

<body>
  <div class="box">
    <% items.forEach(item => { %>
    <div class="items-box">
      <div class="box-text">
        <img src="<%= item.itemImg %>" class="img-items" />
        <h4><a class="itemDetails" href="/categories/items/show/<%= item._id%>"><%= item.itemName %> Details</a></h4>
        <h4 style="font-size: large;"><%= item.itemPrice %> BHD</h4>
        <button class="itemsButton" id="btn" value="<%= item._id%>">ADD TO CART</button>
      </div>
    </div>
    <% }); %>
  </div>


</body>
<%- include('../partials/footer') %>