<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <table>
      <tbody>
        <h1><%= title %></h1>
        <% items.forEach(item => { %> <% if (item.itemType ===
        categories.categoryName) { %>
        <tr>
          <td>
          <a href="items/<%= item._id %>"> <%= item.itemName %> </a>
          </td>
          <td> <%= item.itemImg %></td>
          <td> <%= item.itemPrice %></td>
        </tr>
        <% } %> <% }); %>
      </tbody>
    </table>
  </body>
</html>
