<%- include('../partials/header') %>

<body>

  <div class="box">
    <% items.forEach(item => { %>
    <div class="items-box">
      <div class="box-text">
        <img src="<%= item.itemImg %>" class="img-items" />
        <h4><a class="itemDetails" href="/categories/items/show/<%= item._id%>"><%= item.itemName %> Details<a>
        </h4>
        <% if (user) { %>
        <h4 style="font-size: large;"><%= item.itemPrice %> BHD</h4>
        <form method="POST" action="/categories/items/<%= item._id %>/baskets">
          <input type="hidden" name="ItemId" value="<%= item._id %>">
          <input type="hidden" name="items" value="<%= JSON.stringify(items) %>">
          <button class="itemsButton" id="btn">ADD TO CART</button>
        </form>
        <% } %>
      </div>
    </div>
    <% }); %>
  </div>

  <%- include('../partials/footer') %>
</body>