<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <table>
      <tbody>
        <% items.forEach(item => { %> <% if (item.itemType ===
        categories.categoryName) { %>
        <tr>
          <td>
            <a href="/categories/items/show/<%= item._id%>"
              ><%= item.itemName %></a>
          </td>
          <td><img src="<%= item.itemImg %>" alt="<%= item.itemName %>" /></td>
          <td><%= item.itemPrice %></td>
        </tr>
        <% } %> <% }); %>
      </tbody>
    </table>
  </body>
</html>
