<%- include('../partials/header') %>

  <body>
        <% items.forEach(item => { %> 
            <a href="/categories/items/show/<%= item._id%>"
              ><%= item.itemName %></a>
<img src="<%= item.itemImg %>" alt="<%= item.itemName %>" />
<%= item.itemPrice %>

<% }); %>

  </body>
</html>
